*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containe{
    max-width: 1170px;
}
ul{
    list-style: none;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col1{
    width: 25%;
    padding: 0 15px;
}
.footer-col1 h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col1 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    background-color: #e91e63;
    width: 50px;
}
.footer-col1 ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(104, 100, 100, 0.884);
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
}
.footer-col1 ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col1 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer-col1 .social-links a:hover{
    color: #24262b;
    background-color: white;
}

@media(max-width: 768px){
    .footer-col1{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col1{
        width: 100%;
    }
}